.content-container {
    @extend .container-xxl;
    @extend .my-3;
    @extend .text-bg-dark;
    @extend .rounded-3;
    @extend .shadow-lg;
}

img {
    width: auto; 
    height: auto; 
    max-width: 100%;
    background-repeat: no-repeat;
}