.content-container {
    @extend .container-xxl;
    @extend .my-3;
    @extend .text-bg-dark;
    @extend .rounded-3;
    @extend .shadow-lg;
    @extend .text-xl-start; 
    @extend .text-center;
}

img {
    width: auto; 
    height: auto; 
    max-width: 100%;
    background-repeat: no-repeat;
}

.content-header {
    @extend .col-xl-6;
    @extend .col-lg-12;
    @extend .align-items-center   
}