// Example override Bootstrap variable for button
// $btn-padding-y: 10rem;
$yellow:            #ffc107;
$bg-gray:           #343a40;
$admin:             #dc3545;
$admin-ts:          #d63384;
$member:            #20c997;
$missionbuilder:    #0d6efd;
$zeus:              #0dcaf0;


$primary: mix(black, #ffc107, 20%);
$nav-link-font-size: 2rem;
$nav-tabs-link-hover-border-color: $primary;